diff a/resources/tools/buildTime/sdkconfigs/sdkconfig_Watchy_3.defaults b/resources/tools/buildTime/sdkconfigs/sdkconfig_Watchy_3.defaults	(rejected hunks)
@@ -11,4 +11,6 @@ CONFIG_ESP_SYSTEM_RTC_EXT_XTAL_BOOTSTRAP_CYCLES=256 # This value is for faulty R
 # https://docs.espressif.com/projects/esp-idf/en/stable/esp32s3/api-reference/kconfig.html#config-rtc-clk-cal-cycles
 CONFIG_RTC_CLK_CAL_CYCLES=3000
 # A very interesting option but it may decrease battery life? to be tested.
\ No newline at end of file
 CONFIG_ESP_XT_WDT=y
 # Compiler
 CONFIG_COMPILER_OPTIMIZATION_PERF=y
\ No newline at end of file
